<ion-header>
  <ion-toolbar class="new-background-color">
        <ion-icon name="menu-outline" size="large" (click)='registerMenu()'></ion-icon> 
        <!-- <ion-title>Register</ion-title> -->
     </ion-toolbar>
    </ion-header>
      <ion-menu side="start" menuId="first" contentId="main" class="my-custom-menu">
          <ion-toolbar>
            <div class = "menu-header-bg">
              <div class="header-content">
           <ion-title>Register</ion-title> </div></div>
         </ion-toolbar>  
       <!-- </ion-header> -->
       <ion-content>
         <ion-list>
            <ion-item [routerLink]="['/home']">Home</ion-item>
            <ion-item [routerLink]="['/login']">Login Here</ion-item>
    
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main"></ion-router-outlet>


      <ion-content> 
        <ion-title><h1>Register Here</h1></ion-title>
  <ion-item>
    <ion-label position="floating">Your Name</ion-label>
    <ion-input type="name" [(ngModel)]="name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile Number</ion-label>
    <ion-input type="number" [(ngModel)]="contact" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date of Birth:</ion-label>
    <ion-input type="date" [(ngModel)]="dateofbirth"  required></ion-input>

  </ion-item>
  <!-- <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-textarea type="text" [(ngModel)]="address" required></ion-textarea>
  </ion-item> -->
  <ion-item>
    <ion-label position="floating">Create Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" placeholder="minimum 6 digits" [required]  [min]="6"></ion-input>

  </ion-item>

  
  <ion-button class="ion-padding"  color="tertiary"  (click)="Register()" expand="full">
    Register
  </ion-button>

  

  
  <br>
  <h6>already have an account ? <a href="/login">login here</a></h6>
  
    </ion-content>
  
    <ion-footer >
      <ion-toolbar class="new-background-color">
        <ion-title>Developed by Moinak</ion-title>
      </ion-toolbar>
    </ion-footer>
  
