<ion-header>
  <ion-toolbar class="new-background-color">
        <ion-icon name="menu-outline" size="large" (click)='userprof()'></ion-icon> 
     </ion-toolbar>
    </ion-header>
      <ion-menu side="start" menuId="6" contentId="main" class="my-custom-menu">
          <ion-toolbar>
            <div class = "menu-header-bg">
              <div class="header-content">
           <ion-title>Profile</ion-title> </div></div>
         </ion-toolbar> 
       <!-- </ion-header> -->
       <ion-content>
         <ion-list>
            <ion-item [routerLink]="['/dashboard']"><ion-icon name="home-outline"></ion-icon> &nbsp; Home</ion-item>
            <ion-item [routerLink]="['/user-profile']"><ion-icon name="person-circle-outline"></ion-icon> &nbsp; Profile</ion-item>
            <ion-item (click)="showImage()"><ion-icon name="images-outline"></ion-icon>&nbsp;Gallery</ion-item>
            <ion-item (click)="presentAlertConfirm()"><ion-icon name="log-out-outline"></ion-icon> &nbsp;Logout</ion-item>  
  
           </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main"></ion-router-outlet>
<ion-content>



  <ion-card>
    <ion-img></ion-img>
    <ion-item>
      <ion-avatar item start>
        <ion-img src="assets\user-male.jpg"></ion-img>
      </ion-avatar>

    </ion-item>
    <div *ngFor="let item of userdata">
    <ion-card-content>
      <ion-card-title>
        {{item.Name}}
      </ion-card-title>
    </ion-card-content>

    <ion-card-content>
      <h4>Email:</h4>  {{item.Email}}
    </ion-card-content>

    <ion-card-content>
      <h4>Date of Birth:</h4>   {{item.DateofBirth}}
    </ion-card-content>

    <ion-card-content>
     <h4>Contact:</h4> {{item.Contact}}
  </ion-card-content>


  <ion-card-content>
    <ion-button color="secondary" (click)="openModal()">update</ion-button>
 </ion-card-content>
</div>
  </ion-card>













</ion-content>
